{% load static %}

<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <title>Vinod Gamre Articles Found Here</title>
 </head>
 <body>
<header>
  <h><a href="/">My personal Blog</a></h>
</header>
<div class="container">

{% if user.is_authenticated %}
<p>You are Logged in</p>
<p>Hey {{ user.username }}, Hello </p>
<p>Plese <a href="{% url 'logout' %}">Log Out</a>Here</p>

{% else %}
<p>You are Not Logged in</p>
<p>please <a href="{% url 'login' %}">Login</a>here</p>
{% endif %}
{% block content %}
{% endblock content %}

</div>


 </body>
 </html>
